Repository yuvalsuede/taskml: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

fix: configure Vercel to use Bun for monorepo builds
  apps/website/vercel.json
  packages/playground/vercel.json
  vercel.json
Due: none

fix: add turbo.json and correct package filter names
  apps/website/vercel.json
  packages/playground/vercel.json
  turbo.json
Due: none

feat(core): implement TaskML lexer and parser
  apps/website/next-env.d.ts
  apps/website/tsconfig.json
  bun.lock
  docs/adr/002-parser-architecture.md
  packages/core/src/index.ts
  packages/core/src/lexer/index.ts
  packages/core/src/lexer/lexer.ts
  packages/core/src/lexer/tokens.ts
  packages/core/src/parser/index.ts
  packages/core/src/parser/parser.test.ts
  packages/core/src/parser/parser.ts
  packages/playground/next-env.d.ts
Due: core

fix(core): resolve TypeScript build errors
  packages/core/src/index.ts
  packages/core/src/parser/parser.ts
Due: core

feat(core): add JSON/YAML interchange and comprehensive tests
  packages/core/src/index.ts
  packages/core/src/interchange/index.ts
  packages/core/src/interchange/json.test.ts
  packages/core/src/interchange/json.ts
  packages/core/src/interchange/yaml.test.ts
  packages/core/src/interchange/yaml.ts
  packages/core/src/lexer/lexer.test.ts
  packages/core/src/lexer/lexer.ts
Due: core

feat(core): add browser bundle and update docs
  packages/core/README.md
  packages/core/package.json
  packages/core/tsup.config.ts
Due: core

chore(core): bump to 0.1.0-alpha.1
  packages/core/package.json
Due: core

chore(core): rename package to taskml for npm publish
  packages/core/README.md
  packages/core/package.json
Due: core

feat(core): complete Sprint 2 - escaping and comment preservation
  packages/core/src/interchange/json.test.ts
  packages/core/src/interchange/json.ts
  packages/core/src/interchange/yaml.test.ts
  packages/core/src/interchange/yaml.ts
  packages/core/src/lexer/lexer.test.ts
  packages/core/src/lexer/lexer.ts
  packages/core/src/parser/parser.test.ts
  packages/core/src/parser/parser.ts
  packages/core/src/types.ts
Due: core

chore(playground): change default port to 4444
  packages/playground/package.json
Due: none

feat(playground): add global keyboard shortcuts
  packages/playground/src/components/dialogs/ShortcutsDialog.tsx
  packages/playground/src/components/layout/AppShell.tsx
  packages/playground/src/hooks/index.ts
  packages/playground/src/hooks/useKeyboardShortcuts.ts
Due: none

feat(playground): Sprint 5 - templates and local storage
  packages/playground/src/components/dialogs/DiagramsDialog.tsx
  packages/playground/src/components/dialogs/DialogWrapper.tsx
  packages/playground/src/components/dialogs/ExamplesDialog.tsx
  packages/playground/src/components/dialogs/SaveDialog.tsx
  packages/playground/src/components/dialogs/ShortcutsDialog.tsx
  packages/playground/src/components/dialogs/index.ts
  packages/playground/src/components/layout/AppShell.tsx
  packages/playground/src/components/layout/Header.tsx
  packages/playground/src/hooks/useKeyboardShortcuts.ts
  packages/playground/src/lib/examples.ts
  packages/playground/src/stores/index.ts
  packages/playground/src/stores/storage-store.ts
  packages/playground/src/types/index.ts
Due: none

feat(playground): add embed endpoint and enhanced sharing
  packages/playground/src/app/embed/page.tsx
  packages/playground/src/components/dialogs/ShareDialog.tsx
  packages/playground/src/lib/url-state.ts
Due: none

feat(playground): add snippets, autocomplete, and format command
  packages/playground/src/components/dialogs/ShortcutsDialog.tsx
  packages/playground/src/components/editor/Editor.tsx
  packages/playground/src/components/editor/taskml-completions.ts
  packages/playground/src/components/editor/taskml-language.ts
  packages/playground/src/lib/format.ts
Due: none

feat: complete Sprint 2-3 with error system, parser enhancements, and playground improvements
  packages/core/src/__tests__/errors.test.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/lexer/lexer.ts
  packages/core/src/lexer/tokens.ts
  packages/core/src/parser/parser.test.ts
  packages/core/src/parser/parser.ts
  packages/core/src/renderer/views/graph.ts
  packages/core/src/types.ts
  packages/playground/BRANDBOOK.md
  packages/playground/src/app/globals.css
  packages/playground/src/components/dialogs/DialogWrapper.tsx
  packages/playground/src/components/dialogs/ExamplesDialog.tsx
  packages/playground/src/components/layout/Header.tsx
  packages/playground/src/components/preview/Preview.tsx
  packages/playground/src/components/ui/Button.tsx
  packages/playground/src/lib/examples.ts
  packages/playground/tailwind.config.js
Due: core

fix(playground): correct TaskML syntax in templates
  packages/playground/src/lib/examples.ts
  packages/playground/src/stores/editor-store.ts
Due: none

fix(core): render tasks from sections in all views
  packages/core/src/renderer/utils.ts
  packages/core/src/renderer/views/graph.ts
  packages/core/src/renderer/views/kanban.ts
  packages/core/src/renderer/views/list.ts
  packages/core/src/renderer/views/summary.ts
  packages/core/src/renderer/views/table.ts
  packages/core/src/renderer/views/timeline.ts
  packages/core/src/renderer/views/tree.ts
  packages/playground/src/components/preview/Preview.tsx
  packages/playground/src/lib/examples.ts
Due: core

feat(playground): UI/UX redesign matching Mermaid Live
  .gitignore
  .vercelignore
  package.json
  packages/cli/package.json
  packages/core/src/format.ts
  packages/core/src/index.ts
  packages/obsidian/package.json
  packages/playground/next.config.js
  packages/playground/package.json
  packages/playground/src/components/editor/Editor.tsx
  packages/playground/src/components/editor/EditorPanel.tsx
  packages/playground/src/components/layout/AppShell.tsx
  packages/playground/src/components/layout/Header.tsx
  packages/playground/src/components/panels/ErrorPanel.tsx
  packages/playground/src/components/preview/Preview.tsx
  packages/playground/src/components/preview/PreviewToolbar.tsx
  packages/playground/src/components/preview/ZoomControls.tsx
  packages/playground/src/lib/export.ts
  packages/playground/src/lib/format.ts
  packages/playground/src/stores/editor-store.ts
  packages/playground/src/stores/preview-store.ts
  packages/playground/src/types/index.ts
  packages/playground/vercel.json
  packages/vscode/package.json
  pnpm-workspace.yaml
  vercel.json
Due: core, cli

feat: modernize UI and deploy to Vercel
  packages/core/package.json
  packages/core/src/renderer/base.ts
  packages/core/src/renderer/theme.ts
  packages/playground/next.config.js
  packages/playground/package.json
  packages/playground/src/components/dialogs/ExamplesDialog.tsx
  packages/playground/src/components/layout/Header.tsx
  packages/playground/src/lib/examples.ts
  packages/playground/vercel.json
  vercel.json
Due: core

feat(playground): add Raycast-inspired landing page
  packages/playground/src/app/layout.tsx
  packages/playground/src/app/page.tsx
  packages/playground/src/app/playground/page.tsx
  packages/playground/src/components/landing/Features.tsx
  packages/playground/src/components/landing/Footer.tsx
  packages/playground/src/components/landing/Hero.tsx
  packages/playground/src/components/landing/OpenSource.tsx
  packages/playground/src/components/landing/SyntaxShowcase.tsx
  packages/playground/src/components/landing/ViewTypes.tsx
  packages/playground/src/components/landing/index.ts
Due: none

feat(playground): enhance landing page with Raycast-inspired design
  packages/playground/src/components/landing/Features.tsx
  packages/playground/src/components/landing/Footer.tsx
  packages/playground/src/components/landing/Hero.tsx
  packages/playground/src/components/landing/OpenSource.tsx
  packages/playground/src/components/landing/SyntaxShowcase.tsx
  packages/playground/src/components/landing/ViewTypes.tsx
Due: none

fix: bypass Vercel Next.js detection for monorepo build
  vercel.json
Due: none

style(playground): reduce header logo font size
  packages/playground/src/components/landing/Hero.tsx
Due: none

docs: add OSS launch essentials
  CHANGELOG.md
  README.md
  packages/core/package.json
Due: core

fix: correct GitHub repository URLs from anthropics to yuvalsuede
  packages/playground/src/components/landing/Footer.tsx
  packages/playground/src/components/landing/Hero.tsx
  packages/playground/src/components/landing/OpenSource.tsx
  packages/playground/src/components/layout/Header.tsx
Due: none

docs: enhance README with state-of-the-art presentation
  README.md
Due: none

docs: simplify README, remove placeholder images
  README.md
Due: none

docs: add view screenshots to README
  README.md
  bun.lock
  package.json
  packages/playground/public/images/views/graph-full.png
  packages/playground/public/images/views/graph.png
  packages/playground/public/images/views/kanban-full.png
  packages/playground/public/images/views/kanban.png
  packages/playground/public/images/views/list-full.png
  packages/playground/public/images/views/list.png
  packages/playground/public/images/views/summary-full.png
  packages/playground/public/images/views/summary.png
  packages/playground/public/images/views/table-full.png
  packages/playground/public/images/views/table.png
  packages/playground/public/images/views/timeline-full.png
  packages/playground/public/images/views/timeline.png
  packages/playground/public/images/views/tree-full.png
  packages/playground/public/images/views/tree.png
  scripts/capture-screenshots.ts
Due: none

feat: add AI integrations section to landing page
  packages/playground/src/app/page.tsx
  packages/playground/src/components/landing/Integrations.tsx
  packages/playground/src/components/landing/index.ts
  packages/playground/src/lib/examples.ts
Due: none

chore: update LICENSE copyright to Yuval Suede
  LICENSE
Due: none

chore: relax node version requirement, remove packageManager
  package.json
Due: none

feat(seo): add llms.txt, robots.txt, sitemap, and enhanced metadata
  package.json
  packages/playground/public/llms.txt
  packages/playground/public/robots.txt
  packages/playground/public/sitemap.xml
  packages/playground/src/app/layout.tsx
  packages/playground/src/app/playground/layout.tsx
Due: none

feat(seo): add TaskML banner as OG image
  packages/playground/public/images/og-image.png
  packages/playground/src/app/layout.tsx
  packages/playground/src/app/playground/layout.tsx
Due: none

fix: add trailingSlash for static export routing
  packages/playground/next.config.js
Due: none

docs: comprehensive README with full protocol specification
  README.md
Due: none

Path conditions:
  core: any of: packages/core/, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, apps/website/**, packages/playground/**
  cli: any of: packages/cli/, but not: **/*.test.ts, **/*.spec.ts, **/node_modules/**, **/dist/**, apps/website/**, packages/playground/**
